<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>ECS 153 Project Home Page</title>
</head>

<body>

<h2>ECS 153 Project Home Page</h2>

<hr>

<p>
	Our work is recorded in this 
	<a href="https://docs.google.com/document/d/1qIfatIAhZ7rEQhiYhv-Me6-IgtZs5qsdWNzpkxM2Ozw/edit?usp=sharing">google document</a>
	<br>
	Our code has been uploaded to 
	<a href="https://github.com/ECS153/final-project-ygzbsy">Github</a>
	
</p>

<hr>

<a th:href="@{/showMyLoginPage?logout}">Back to Home Page</a>

</body>

</html>









